@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  #header {
	  display: none;
  }
  
  #footer-main {
  display: none;
  }
  
#main {
	width: 50% !important;
}

.navigation-main {
	  float: none !important;
	  width: 780px !important;
	  min-height: 0px !important;
	  height: 35px !important;
	  z-index: 9999;
		position: absolute;
 }
  
  #intra_change {
	  display: inline !important;
  }
  
  .intrabanner{
	  width: 130px !important;
	  min-height: 75px;
	  padding: 0px;
	  background-color: #003da5 !important;
	  text-align: center;
  }
  
  #intra_change > li a {
	  color: #fafafa;
	  font-weight: bold;
	  font-size: 1.15em;
  }
  
  #intra_change > li a:hover {
	  color: #c9c9c9;
	  font-weight: bold;
	  font-size: 1.15em;
	  text-decoration: none;
  }
  
  .navigation-main #intramain{
	  background: none;
	  background-color: #d50032;
		box-shadow: 1px 1px 5px 1px grey;
	  padding-top: 0px;
  }
  
  #body-main {
	  border-right: none !important;
	  padding-left: 0px !important;
	  background-image: none;
	  background-color: #fafafa;
	  box-shadow: 1px 1px 5px 1px grey;
	  border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	  margin-top: 70px;
		width: unset;
  }
  
  .r-cont-holder{
	  border: none !important;
  }

  #body-main #ajaxFormName h3{
	  display: none;
  }
  
  body {
	  background-color: #25282a !important;
	  font-family: Lato !important;
  }
  
  #IntraSubmit {
	  box-shadow: 1px 1px 5px 1px grey;
	  border-radius: 4px;
	  border: none;
	  background-color: #003DA5;
	  color: white;
	  text-transform: uppercase;
  }
  
  #IntraSubmit:hover {
	  box-shadow: 3px 3px 5px 1px grey;
	  border-radius: 4px;
	  border: none;
	  background-color: #002D7A;
	  color: white;
	  text-transform: uppercase;
  }
  
  #Back {
	  box-shadow: 1px 1px 5px 1px grey;
	  border-radius: 4px;
	  border: none;
	  background-color: #003DA5;
	  color: white;
	  text-transform: uppercase;
  }
  
  #Back:hover {
	  box-shadow: 3px 3px 5px 1px grey;
	  border-radius: 4px;
	  border: none;
	  background-color: #002D7A;
	  color: white;
	  text-transform: uppercase;
  }
  
  #Submit {
	  box-shadow: 1px 1px 5px 1px grey;
	  border-radius: 4px;
	  border: none;
	  background-color: #003DA5;
	  color: white;
	  margin-left: 25px;
	  margin-bottom: 10px;
	  text-transform: uppercase;
  }
  
  #Submit:hover {
	  box-shadow: 3px 3px 5px 1px grey;
	  border-radius: 4px;
	  border: none;
	  background-color: #002D7A;
	  color: white;
	  margin-left: 25px;
	  margin-bottom: 10px;
	  text-transform: uppercase;
  }
  
  #copyButton {
	  box-shadow: 1px 1px 5px 1px grey;
	  border-radius: 4px;
	  border: none;
	  background-color: #003DA5;
	  color: white;
	  margin-top: 10px;
	  font-family: Arial;
	  text-transform: uppercase;
  }
  
  #copyButton:hover {
	  box-shadow: 3px 3px 5px 1px grey;
	  border-radius: 4px;
	  border: none;
	  background-color: #002D7A;
	  color: white;
	  margin-top: 10px;
	  font-family: Arial;
	  text-transform: uppercase;
  }
  
  #copyButton:active {
	  box-shadow: 3px 3px 5px 1px grey;
	  border-radius: 4px;
	  border: none;
	  background-color: grey;
	  color: white;
	  margin-top: 10px;
	  font-family: Arial;
	  text-transform: uppercase;
  }
  
  aside {
	  background-image: none;
	  background-color: #fafafa;
	  box-shadow: 1px 1px 5px 1px grey;
	  border-radius: 20px;
	  margin-right: 10px;
	  margin-top: 10px;
	  position: absolute;
	  width: 400px;
	  right: 0px;
	  top: 0px;
	  padding: 10px;
  }
  
  aside p {
	  border: 1px solid black;
	  background-color: white;
	  font-family: Courier;
	  padding: 5px;
	  color: black;
  }
  
  li .caution {
	  background-color: yellow;
	  font-weight: bold;
	  font-size: .75em;
	  text-align: center;
	  padding-top: 2px;
	  padding-bottom: 2px;
	  width: 300px;
  }
  
  li .warning {
	  background-color: red;
	  color: white;
	  font-weight: bold;
	  font-size: .75em;
	  text-align: center;
	  padding-top: 2px;
	  padding-bottom: 2px;
	  width: 300px;
  }